<!--  Start: Layout - Sidebar -->

<input
    type="checkbox"
    id="layout-sidebar-toggle-trigger"
    class="hidden"
    aria-label="Toggle layout sidebar" />

<div id="layout-sidebar">
    <a class="flex min-h-16 items-center justify-center" href="./dashboards-ecommerce.html">
        <img alt="logo-dark" class="hidden h-5.5 dark:inline" src="/images/logo/logo-dark.png" />
        <img alt="logo-light" class="h-5.5 dark:hidden" src="/images/logo/logo-light.png" />
    </a>
    <div class="relative min-h-0 grow">
        <div data-simplebar class="size-full">
            <div id="sidebar-menu">
                <div class="group collapse">
                    <input
                        aria-label="Sidemenu item trigger"
                        class="peer"
                        type="checkbox"
                        name="sidebar-menu-parent-item" />
                    <div class="collapse-title">
                        <span class="iconify lucide--monitor-dot size-4"></span>
                        <span class="grow">Dashboard</span>
                        <span class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
                    </div>
                    <div class="collapse-content">
                        <a class="sidebar-menu-item" href="./dashboards-ecommerce.html">
                            Ecommerce
                        </a>
                        <a class="sidebar-menu-item" href="./dashboards-crm.html">
                            <span class="grow">CRM</span>
                        </a>
                    </div>
                </div>
                <p class="sidebar-menu-title">Apps</p>
                <div class="group collapse">
                    <input
                        aria-label="Sidemenu item trigger"
                        class="peer"
                        type="checkbox"
                        name="sidebar-menu-parent-item" />
                    <div class="collapse-title">
                        <span class="iconify lucide--store size-4"></span>
                        <span class="grow">Ecommerce</span>
                        <span class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
                    </div>
                    <div class="collapse-content">
                        <a class="sidebar-menu-item" href="./apps-ecommerce-orders.html">Orders</a>
                        <a class="sidebar-menu-item" href="./apps-ecommerce-products.html">
                            Products
                        </a>
                        <a class="sidebar-menu-item" href="./apps-ecommerce-sellers.html">
                            Sellers
                        </a>
                        <a class="sidebar-menu-item" href="./apps-ecommerce-customers.html">
                            Customers
                        </a>
                        <a class="sidebar-menu-item" href="./apps-ecommerce-shops.html">Shops</a>
                    </div>
                </div>
                <div class="group collapse">
                    <input
                        aria-label="Sidemenu item trigger"
                        class="peer"
                        type="checkbox"
                        name="sidebar-menu-parent-item" />
                    <div class="collapse-title">
                        <span class="iconify lucide--brain-circuit size-4"></span>
                        <span class="grow">Gen AI</span>
                        <div class="inline-flex gap-2">
                            <div
                                class="border-primary/20 bg-primary/10 text-primary rounded-box border px-1.5 text-[12px]">
                                New
                            </div>
                        </div>
                        <span class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
                    </div>
                    <div class="collapse-content">
                        <a class="sidebar-menu-item" href="./apps-gen-ai-home.html">Home</a>
                        <a class="sidebar-menu-item" href="./apps-gen-ai-content.html">Content</a>
                        <a class="sidebar-menu-item" href="./apps-gen-ai-image.html">Image</a>
                        <a class="sidebar-menu-item" href="./apps-gen-ai-library.html">Library</a>
                    </div>
                </div>
                <a class="sidebar-menu-item" href="./apps-file-manager.html">
                    <span class="iconify lucide--server size-4"></span>
                    File Manager
                </a>
                <a class="sidebar-menu-item" href="./apps-chat.html">
                    <span class="iconify lucide--messages-square size-4"></span>
                    Chat
                </a>
                <p class="sidebar-menu-title">Pages</p>
                <a class="sidebar-menu-item" href="./landing.html">
                    <span class="iconify lucide--file size-4"></span>
                    Landing
                </a>
                <div class="group collapse">
                    <input
                        aria-label="Sidemenu item trigger"
                        class="peer"
                        type="checkbox"
                        name="sidebar-menu-parent-item" />
                    <div class="collapse-title">
                        <span class="iconify lucide--shield-check size-4"></span>
                        <span class="grow">Auth</span>
                        <span class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
                    </div>
                    <div class="collapse-content">
                        <a class="sidebar-menu-item" href="./auth-login.html">Login</a>
                        <a class="sidebar-menu-item" href="./auth-register.html">Register</a>
                        <a class="sidebar-menu-item" href="./auth-forgot-password.html">
                            Forgot Password
                        </a>
                        <a class="sidebar-menu-item" href="./auth-reset-password.html">
                            Reset Password
                        </a>
                    </div>
                </div>
                <p class="sidebar-menu-title">UI Showcase</p>
                <div class="group collapse">
                    <input
                        aria-label="Sidemenu item trigger"
                        class="peer"
                        type="checkbox"
                        name="sidebar-menu-parent-item" />
                    <div class="collapse-title">
                        <span class="iconify lucide--package size-4"></span>
                        <span class="grow">Components</span>
                        <span class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
                    </div>
                    <div class="collapse-content">
                        <a class="sidebar-menu-item" href="./ui-components-accordion.html">
                            Accordion
                        </a>
                        <a class="sidebar-menu-item" href="./ui-components-alert.html">Alert</a>
                        <a class="sidebar-menu-item" href="./ui-components-avatar.html">Avatar</a>
                        <a class="sidebar-menu-item" href="./ui-components-badge.html">Badge</a>
                        <a class="sidebar-menu-item" href="./ui-components-breadcrumb.html">
                            Breadcrumb
                        </a>
                        <a class="sidebar-menu-item" href="./ui-components-button.html">Button</a>
                        <a class="sidebar-menu-item" href="./ui-components-countdown.html">
                            Countdown
                        </a>
                        <a class="sidebar-menu-item" href="./ui-components-drawer.html">Drawer</a>
                        <a class="sidebar-menu-item" href="./ui-components-dropdown.html">
                            Dropdown
                        </a>
                        <a class="sidebar-menu-item" href="./ui-components-indicator.html">
                            <span class="grow">Indicator</span>
                            <div class="inline-flex gap-2">
                                <div
                                    class="border-primary/20 bg-primary/10 text-primary rounded-box border px-1.5 text-[12px]">
                                    New
                                </div>
                            </div>
                        </a>
                        <a class="sidebar-menu-item" href="./ui-components-loading.html">Loading</a>
                        <a class="sidebar-menu-item" href="./ui-components-menu.html">Menu</a>
                        <a class="sidebar-menu-item" href="./ui-components-modal.html">Modal</a>
                        <a class="sidebar-menu-item" href="./ui-components-pagination.html">
                            Pagination
                        </a>
                        <a class="sidebar-menu-item" href="./ui-components-progress.html">
                            Progress
                        </a>
                        <a class="sidebar-menu-item" href="./ui-components-step.html">Step</a>
                        <a class="sidebar-menu-item" href="./ui-components-tab.html">Tab</a>
                        <a class="sidebar-menu-item" href="./ui-components-table.html">
                            <span class="grow">Table</span>
                            <div class="inline-flex gap-2">
                                <div
                                    class="border-primary/20 bg-primary/10 text-primary rounded-box border px-1.5 text-[12px]">
                                    New
                                </div>
                            </div>
                        </a>
                        <a class="sidebar-menu-item" href="./ui-components-timeline.html">
                            Timeline
                        </a>
                        <a class="sidebar-menu-item" href="./ui-components-toast.html">Toast</a>
                        <a class="sidebar-menu-item" href="./ui-components-tooltip.html">Tooltip</a>
                    </div>
                </div>
                <div class="group collapse">
                    <input
                        aria-label="Sidemenu item trigger"
                        class="peer"
                        type="checkbox"
                        name="sidebar-menu-parent-item" />
                    <div class="collapse-title">
                        <span class="iconify lucide--file-text size-4"></span>
                        <span class="grow">Forms</span>
                        <span class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
                    </div>
                    <div class="collapse-content">
                        <a class="sidebar-menu-item" href="./ui-forms-checkbox.html">Checkbox</a>
                        <a class="sidebar-menu-item" href="./ui-forms-fieldset.html">
                            <span class="grow">Fieldset</span>
                            <div class="inline-flex gap-2">
                                <div
                                    class="border-primary/20 bg-primary/10 text-primary rounded-box border px-1.5 text-[12px]">
                                    New
                                </div>
                            </div>
                        </a>
                        <a class="sidebar-menu-item" href="./ui-forms-file-input.html">
                            File Input
                        </a>
                        <a class="sidebar-menu-item" href="./ui-forms-input.html">Input</a>
                        <a class="sidebar-menu-item" href="./ui-forms-label.html">
                            <span class="grow">Label</span>
                            <div class="inline-flex gap-2">
                                <div
                                    class="border-primary/20 bg-primary/10 text-primary rounded-box border px-1.5 text-[12px]">
                                    New
                                </div>
                            </div>
                        </a>
                        <a class="sidebar-menu-item" href="./ui-forms-radio.html">Radio</a>
                        <a class="sidebar-menu-item" href="./ui-forms-range.html">Range</a>
                        <a class="sidebar-menu-item" href="./ui-forms-rating.html">Rating</a>
                        <a class="sidebar-menu-item" href="./ui-forms-select.html">Select</a>
                        <a class="sidebar-menu-item" href="./ui-forms-textarea.html">Textarea</a>
                        <a class="sidebar-menu-item" href="./ui-forms-toggle.html">Toggle</a>
                        <a class="sidebar-menu-item" href="./ui-forms-validator.html">
                            <span class="grow">Validator</span>
                            <div class="inline-flex gap-2">
                                <div
                                    class="border-primary/20 bg-primary/10 text-primary rounded-box border px-1.5 text-[12px]">
                                    New
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="group collapse">
                    <input
                        aria-label="Sidemenu item trigger"
                        class="peer"
                        type="checkbox"
                        name="sidebar-menu-parent-item" />
                    <div class="collapse-title">
                        <span class="iconify lucide--bar-chart-big size-4"></span>
                        <span class="grow">Charts</span>
                        <span class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
                    </div>
                    <div class="collapse-content">
                        <div class="group collapse">
                            <input
                                aria-label="Sidemenu item trigger"
                                class="peer"
                                type="checkbox"
                                name="sidebar-menu-parent-item" />
                            <div class="collapse-title">
                                <span class="grow">Apex</span>
                                <span
                                    class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
                            </div>
                            <div class="collapse-content">
                                <a class="sidebar-menu-item" href="./ui-charts-apex-area.html">
                                    Area
                                </a>
                                <a class="sidebar-menu-item" href="./ui-charts-apex-bar.html">
                                    Bar
                                </a>
                                <a class="sidebar-menu-item" href="./ui-charts-apex-column.html">
                                    Column
                                </a>
                                <a class="sidebar-menu-item" href="./ui-charts-apex-line.html">
                                    Line
                                </a>
                                <a class="sidebar-menu-item" href="./ui-charts-apex-pie.html">
                                    Pie
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="sidebar-menu-title">Other</p>
                <div class="group collapse">
                    <input
                        aria-label="Sidemenu item trigger"
                        class="peer"
                        type="checkbox"
                        name="sidebar-menu-parent-item" />
                    <div class="collapse-title">
                        <span class="iconify lucide--align-center size-4"></span>
                        <span class="grow">Menu Levels</span>
                        <span class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
                    </div>
                    <div class="collapse-content">
                        <a class="sidebar-menu-item" href="#">Level 1a</a>
                        <div class="group collapse">
                            <input
                                aria-label="Sidemenu item trigger"
                                class="peer"
                                type="checkbox"
                                name="sidebar-menu-parent-item" />
                            <div class="collapse-title">
                                <span class="grow">Level 1b</span>
                                <span
                                    class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
                            </div>
                            <div class="collapse-content">
                                <a class="sidebar-menu-item" href="#">Level 2a</a>
                                <div class="group collapse">
                                    <input
                                        aria-label="Sidemenu item trigger"
                                        class="peer"
                                        type="checkbox"
                                        name="sidebar-menu-parent-item" />
                                    <div class="collapse-title">
                                        <span class="grow">Level 2b</span>
                                        <span
                                            class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
                                    </div>
                                    <div class="collapse-content">
                                        <a class="sidebar-menu-item" href="#">Level 3a</a>
                                        <a class="sidebar-menu-item" href="#">Level 3b</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="sidebar-menu-item" href="https://google.com" target="_blank">
                    <span class="iconify lucide--external-link size-4"></span>
                    External Links
                </a>
                <a class="sidebar-menu-item" href="#">
                    <span class="iconify lucide--award size-4"></span>
                    <span class="grow">Label</span>
                    <div class="inline-flex gap-2">
                        <div
                            class="bg-secondary text-secondary-content rounded-box ms-0 px-1.5 text-[12px]">
                            +8
                        </div>
                    </div>
                </a>
                <a class="sidebar-menu-item" href="https://nexus.daisyui.com/docs" target="_blank">
                    <span class="iconify lucide--book-open-text size-4"></span>
                    Documentation
                </a>
            </div>
        </div>
        <div
            class="from-base-100/60 pointer-events-none absolute start-0 end-0 bottom-0 h-7 bg-linear-to-t to-transparent"></div>
    </div>
    <div class="mb-2">
        <hr class="border-base-300" />
        <ul class="menu w-full">
            <li>
                <a href="./pages-settings.html" class="flex items-center gap-2">
                    <span class="iconify lucide--settings-2 size-4"></span>
                    Settings
                    <div
                        class="border-primary/20 bg-primary/5 text-primary rounded-box ms-auto border px-1 text-[11px]">
                        New
                    </div>
                </a>
            </li>
            <li>
                <a href="./pages-get-help.html" class="flex items-center gap-2">
                    <span class="iconify lucide--circle-help size-4"></span>
                    Get Help
                    <div
                        class="border-primary/20 bg-primary/5 text-primary rounded-box ms-auto border px-1 text-[11px]">
                        New
                    </div>
                </a>
            </li>
        </ul>
        <div class="dropdown dropdown-top dropdown-end w-full">
            <div
                tabindex="0"
                role="button"
                class="bg-base-200 hover:bg-base-300 rounded-box mx-2 mt-0 flex cursor-pointer items-center gap-2.5 px-3 py-2 transition-all">
                <div class="avatar">
                    <div class="bg-base-200 mask mask-squircle bg-base-200 w-8">
                        <img alt="Avatar" src="/images/avatars/1.png" />
                    </div>
                </div>
                <div class="grow -space-y-0.5">
                    <p class="text-sm font-medium">Denish N</p>
                    <p class="text-base-content/60 text-xs">@withden</p>
                </div>
                <span class="iconify lucide--chevrons-up-down text-base-content/60 size-4"></span>
            </div>
            <ul
                role="menu"
                class="dropdown-content menu bg-base-100 rounded-box shadow-base-content/4 mb-1 w-48 p-1 shadow-[0px_-10px_40px_0px]"
                tabindex="0">
                <li>
                    <a href="./pages-settings.html">
                        <span class="iconify lucide--user size-4"></span>
                        <span>My Profile</span>
                    </a>
                </li>
                <li>
                    <a href="./pages-settings.html">
                        <span class="iconify lucide--settings size-4"></span>
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a href="./pages-get-help.html">
                        <span class="iconify lucide--help-circle size-4"></span>
                        <span>Help</span>
                    </a>
                </li>
                <li>
                    <div>
                        <span class="iconify lucide--bell size-4"></span>
                        <span>Notification</span>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="iconify lucide--arrow-left-right size-4"></span>
                        <span>Switch Account</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<label for="layout-sidebar-toggle-trigger" id="layout-sidebar-backdrop"></label>

<!--  End: Layout - Sidebar -->
